In [1]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import Table, MetaData, Column, Integer
import os

In [2]:
username = os.getenv('AZURE_MSDS432_USERNAME')
password = os.getenv('AZURE_MSDS432_PASSWORD')
host = 'mysqlserver-432.database.windows.net'
database = 'mySampleDatabase'
authentication = "SqlPassword"
conn_string = sa.engine.url.URL(
     "mssql+pyodbc",
     username=username,
     password=password,
     host=host,
     port=1433,
     database=database,
     query={"driver": "ODBC Driver 18 for SQL Server", "authentication": authentication}
 )

In [3]:
engine = sa.create_engine(conn_string, pool_timeout=60)
connection = engine.connect()

In [4]:
query = """
select schema_name(t.schema_id) as schema_name,
       t.name as table_name,
       t.create_date,
       t.modify_date
from sys.tables t
order by schema_name,
         table_name;
"""

tables = pd.read_sql_query(query, connection)
tables

,schema_name,table_name,create_date,modify_date
0,dbo,BuildVersion,2022-05-15 20:04:00.113,2022-05-15 20:04:01.767
1,dbo,ErrorLog,2022-05-15 20:04:00.113,2022-05-15 20:04:01.767
2,dbo,Rel_Building,2022-05-17 22:49:05.513,2022-05-19 22:05:23.507
3,dbo,Rel_BuyoutAgreements,2022-05-17 22:47:28.627,2022-05-19 22:05:23.503
4,dbo,Rel_Demographics,2022-05-17 22:34:37.987,2022-05-19 22:21:30.853
5,dbo,Rel_Eviction_Notices,2022-05-17 21:59:47.223,2022-05-19 23:24:13.557
6,dbo,Rel_Location,2022-05-17 22:25:35.210,2022-05-25 12:56:24.520
7,dbo,SF_Addresses_With_Units_Raw,2022-05-19 01:46:22.717,2022-05-19 01:46:22.793
8,dbo,SF_Buyout_Agreements_Raw,2022-05-16 00:27:00.917,2022-05-16 00:27:00.943
9,dbo,SF_Eviction_Notices_Raw,2022-05-16 00:41:20.143,2022-05-16 00:41:20.190
10,dbo,Zip_Atlas_Median_Age_Raw,2022-05-16 00:26:38.500,2022-05-16 00:26:38.530
11,dbo,Zip_Atlas_Median_Household_Income_Raw,2022-05-16 00:26:44.743,2022-05-16 00:26:44.773
12,dbo,Zip_Atlas_Population_Density_Raw,2022-05-16 00:26:41.683,2022-05-16 00:26:41.693

## Create FACT table

In [6]:
create_fact_table_query = """
CREATE TABLE FACT_SanFrancisco
(
    Count_BuyoutID                                       INT,
    Eviction_Key                                         VARCHAR(max),
    Location_Key                                         VARCHAR(max),
    Date_Key                                             VARCHAR(max),
    Reason_GroupKey                                      VARCHAR(max),
    Count_EvictionID                                     INT,
    Count_Buyout                                         INT,
    Count_PreBuyout                                      INT
)
"""

In [7]:
## Create the table
engine = sa.create_engine(conn_string, pool_timeout=60)
connection = engine.connect()

engine.execute(create_fact_table_query)

In [8]:
tables = pd.read_sql_query(query, connection)
tables

,schema_name,table_name,create_date,modify_date
0,dbo,BuildVersion,2022-05-15 20:04:00.113,2022-05-15 20:04:01.767
1,dbo,ErrorLog,2022-05-15 20:04:00.113,2022-05-15 20:04:01.767
2,dbo,FACT_SanFrancisco,2022-05-25 23:57:41.150,2022-05-25 23:57:41.150
3,dbo,Rel_Building,2022-05-17 22:49:05.513,2022-05-19 22:05:23.507
4,dbo,Rel_BuyoutAgreements,2022-05-17 22:47:28.627,2022-05-19 22:05:23.503
5,dbo,Rel_Demographics,2022-05-17 22:34:37.987,2022-05-19 22:21:30.853
6,dbo,Rel_Eviction_Notices,2022-05-17 21:59:47.223,2022-05-19 23:24:13.557
7,dbo,Rel_Location,2022-05-17 22:25:35.210,2022-05-25 12:56:24.520
8,dbo,SF_Addresses_With_Units_Raw,2022-05-19 01:46:22.717,2022-05-19 01:46:22.793
9,dbo,SF_Buyout_Agreements_Raw,2022-05-16 00:27:00.917,2022-05-16 00:27:00.943
10,dbo,SF_Eviction_Notices_Raw,2022-05-16 00:41:20.143,2022-05-16 00:41:20.190
11,dbo,Zip_Atlas_Median_Age_Raw,2022-05-16 00:26:38.500,2022-05-16 00:26:38.530
12,dbo,Zip_Atlas_Median_Household_Income_Raw,2022-05-16 00:26:44.743,2022-05-16 00:26:44.773
13,dbo,Zip_Atlas_Population_Density_Raw,2022-05-16 00:26:41.683,2022-05-16 00:26:41.693

### TODO: BR_Reason Table

In [ ]:
create_BR_Reason_table_query = """
CREATE TABLE BR_Reason
(
    Count_BuyoutID                                       INT,
    Eviction_Key                                         VARCHAR(max),
    Location_Key                                         VARCHAR(max),
    Date_Key                                             VARCHAR(max),
    Reason_GroupKey                                      VARCHAR(max),
    Count_EvictionID                                     INT,
    Count_Buyout                                         INT,
    Count_PreBuyout                                      INT
    
    eviction_auto_id                                     INT IDENTITY(1,1) PRIMARY KEY,
    eviction_id                                          VARCHAR(max),
    file_date                                            DATE NOT NULL,
    non_payment                                          VARCHAR(5),
    breach                                               VARCHAR(5),
    nuisance                                             VARCHAR(5),
    illegal_use                                          VARCHAR(5),
    failure_to_sign_renewal                              VARCHAR(5),
    access_denial                                        VARCHAR(5),
    unapproved_subtenant                                 VARCHAR(5),
    owner_move_in                                        VARCHAR(5),
    demolition                                           VARCHAR(5),
    capital_improvement                                  VARCHAR(5),
    substantial_rehab                                    VARCHAR(5),
    ellis_act_withdrawal                                 VARCHAR(5),
    condo_conversion                                     VARCHAR(5),
    roommate_same_unit                                   VARCHAR(5),
    other_cause                                          VARCHAR(5),
    late_payments                                        VARCHAR(5),
    lead_remediation                                     VARCHAR(5),
    development                                          VARCHAR(5),
    good_samaritan_ends                                  VARCHAR(5),
    constraints_date                                     DATE,
    address                                              VARCHAR(max) NOT NULL,
    eviction_notice_source_zipcode                       INT,
    current_supervisor_districts                         INT,
    analysis_neighborhoods                               INT,
    city                                                 VARCHAR(max),
    state                                                VARCHAR(2),
    supervisor_district                                  INT,
    neighborhoods_analysis_boundaries                    VARCHAR(max),
    location                                             VARCHAR(max),
    shape                                                VARCHAR(max),
    sf_find_neighborhoods                                INT,
    current_police_districts                             INT,
    cbd_bid_and_gbd_boundaries_as_of_2017                INT,
    central_market_tenderloin_boundary                   INT,
    areas_of_vulnerability_2016                          INT,
    central_market_tenderloin_boundary_polygon_updated   INT,
    fix_it_zones_as_of_2018_02_07                        INT,
    neighborhoods                                        INT,
    delete_neighborhoods                                 VARCHAR(max), 
    delete_police_districts                              VARCHAR(max), 
    delete_supervisor_districts                          VARCHAR(max), 
    delete_fire_prevention_districts                     VARCHAR(max), 
    delete_zip_codes                                     VARCHAR(max)
)
"""